<%= form_with(model: car) do |form| %>
  <% if car.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% car.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  
  <div>
    <%= form.label :manifacturer_id, style: "display: block" %>
    <%= form.combobox :manifacturer_id, manifacturers_path %>
  </div>

  <div>
    <%= form.label :power_type, style: "display: block" %>
    <%#= form.combobox :power_type, Car.power_types %>
    <%= form.select :power_type, options_for_select(Car.power_types.map {|key, value| [key, Car.power_types.key(value)] }) %>
  </div>

  <div>
    <%= form.label :emission_standard, style: "display: block" %>
    <%= form.combobox :emission_standard, Car.emission_standards %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
